.btn_portal-main {
	height: 40px;
	border-radius: 4px;
	background: #345b92;
	color: white;
	font-family: Karla;
	font-size: 14px;
	font-weight: 700;
	transition: all .3s;
	&:hover {
		background: white;
		color: black;
	}
}
.btn_portal-inverse {
	height: 40px;
	border-radius: 4px;
	background: white;
	color: black;
	font-family: Karla;
	font-size: 14px;
	font-weight: 700;
	transition: all .3s;
	&:hover {
		background: #db0101;
		color: white;
	}
}
.btn_inverse {
	height: 40px;
	border-radius: 4px;
	background: black;
	color: white;
	font-family: Karla;
	font-size: 14px;
	font-weight: 700;
	transition: all .3s;
	&:hover {
		background: white;
		color: black;
	}
}