nav.navbar-default {
	background: #345b92;
	height: 110px;
	border-radius: 0;
	border: none;
	li {
		list-style: none;
	}
	.menu-item {
		margin-top: 30px;
		a {
			color: white;
			font-family: Karla;
			font-size: 16px;
			transition: all .3s;
			&:hover {
				color: #db0101;
			}
		}
	}
	.navbar-logo {
		width: 170px;
		margin-top: 20px;
	}
	.profile-menu-item, .applicants_admin, .forum_link {
		margin-top: 44px;
		float: right;
		a {
			color: white;
			font-family: Karla;
			font-size: 16px;
			transition: all .3s;
			cursor: pointer;
			padding: 15px;
			&:hover {
				color: #db0101;
				text-decoration: none;
			}
		}
	}
}
.btn-search {
	background: #db0101 !important;
	transition: all .3s;
	&:hover {
		background: #345b92 !important;
	}
}

.jobpost-template-default {
	.list-data {
		font-family: Karla;
	}
	.job-title {
		color: #345b92;
	}
	h3 {
		color: #345b92 !important;
	}
	.btn-primary {
		font-family: Karla;
		background: #345b92 !important;
		&:hover {
			background: #db0101 !important;
		}
	}
	div.file {
		div {
			background: #345b92 !important;
		}
	}
	#jobapp_cover_letter {
		height: 500px !important;
	}
}
.home.blog {
	#site-content {
		#primary {
			.search_box {
				border: 1px solid lightgrey;
				border-radius: 4px;
				padding: 15px 0px 15px 0px;
				margin-bottom: 30px;
				input[type="text"] {
					width: 95%;
					height: 40px;
					font-family: Karla;
					font-size: 16px;
					padding-left: 10px;
				}
				button {
					width: 5%;
					height: 40px;
					font-size: 16px;
					background: #db0101;
					color: white;
					transition: .3s all;
					border: 0;
					&:hover {
						background: #345b92;
					} 
				}
				.col-sm-4 {
					padding-left: 0;
					margin-top: 20px;
					margin-bottom: 0px;
					select {
						font-family: Karla;
						font-size: 14px;
						height: 40px;
						padding: 6px 12px;
					}
				}
				.col-sm-4:last-of-type {
					padding-right: 0;
				}
				label {
					font-family: Karla;
					font-weight: 100;
				}
			}
			.list-group {
				margin-top: 20px;
				.list-group-item-text {
					color: black;
					font-family: Karla;
					font-weight: 100;
				}
				.font-awesome {
					color: black;
				}
				p, li {
					color: black;
				}
				li {
					list-style: upper-roman;
				}
				.col-sm-3 {
					color: #db0101;
				}
				.col-sm-3:first-of-type {
					padding-left: 0;
				}
				.col-sm-3:last-of-type {
					padding-bottom: 30px;
				}
				.btn_portal-main {
					margin-top: 20px;
				}
			}
		}
	}
}
