.page-template-Profile {
	label {
		font-family: Karla;
		font-size: 16px;
		font-weight: 100;
		color: black;
	}
	input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="date"] {
		font-family: Karla;
		font-size: 16px;
		height: 40px;
	}
	textarea {
		font-family: Karla;
		font-size: 16px;
	}
	#password-strength {
		display: none;
	}
	#password-match {
		display: none;
	}
}