.page-template-Search {
	#site-content {
		.list-group {
			margin-top: 20px;
			.list-group-item-text {
				color: black;
				font-family: Karla;
				font-weight: 100;
			}
			.font-awesome {
				color: black;
			}
			p, li {
				color: black;
			}
			li {
				list-style: upper-roman;
			}
			.col-sm-3 {
				color: #db0101;
			}
			.col-sm-3:first-of-type {
				padding-left: 0;
			}
			.col-sm-3:last-of-type {
				padding-bottom: 30px;
			}
			.btn_portal-main {
				margin-top: 20px;
			}
		}
	}
}