.single-post {
	.list-group-item-text {
		color: black;
		font-family: Karla;
		font-weight: 100;
	}
	.font-awesome {
		color: black;
	}
	p, li {
		color: black;
	}
	li {
		list-style: upper-roman;
	}
	.col-sm-3 {
		color: #db0101;
	}
	.col-sm-3:first-of-type {
		padding-left: 0;
	}
	.col-sm-3:last-of-type {
		padding-bottom: 30px;
	}
	table {
		font-size: 14px;
		tr {
			td:first-of-type {
				border-right: 1px solid #ddd;
			}
		}
	}
	footer {
		margin-top: 20px;
		text-align: center;
		.job_applied {
			border: 1px solid;
			padding: 10px 20px;
			border-radius: 4px;
			background: #0f9735;
			font-family: Karla;
			font-weight: 700;
			color: white;
		}
		input {
			padding: 0px 20px 0px 20px;
		}
		a:last-of-type {
			text-decoration: underline;
			color: #db0101;
		}
	}
}